/* Reset Styles
  --------------------------------------------------------------------------------- */
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
  }
  
  * {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
	 
  }
    
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  
  body {
     line-height: 1;
  }
  
  ol, ul {
     list-style: none;
     margin: 0;
     padding: 0;
  }
  
  blockquote, q {
     quotes: none;
  }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
     content: '';
     content: none;
  }
  
  table {
     border-collapse: collapse;
     border-spacing: 0;
  }
  
  a {
     text-decoration:none;
  }
  
  
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

 
  
/* Color References (Easy to forget)
  --------------------------------------------------------------------------------- */
  
  /*  Gray : #dbdbd9        */
  /*  Orange : #ffa200      */
  /*  Green : #acd941       */
  /*  Beige : #e9eadc       */
  /*  Dark Beige : #d0c4ae  */
  /*  Brown : #473e2d       */
  /*  Dark Brown : #352d1f  */

/* Typography
  --------------------------------------------------------------------------------- */
  
  @font-face {
        font-family: 'proxima_nova_bold';
        src: url('typography/proxima-nova/proximanova-bold-webfont.eot');
        src: url('typography/proxima-nova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('typography/proxima-nova/proximanova-bold-webfont.woff') format('woff'),
             url('typography/proxima-nova/proximanova-bold-webfont.ttf') format('truetype'),
             url('typography/proxima-nova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
        font-weight: normal;
        font-style: normal;

  }
  
  @font-face {
        font-family: 'proxima_novasemibold';
        src: url('typography/proxima-nova/proximanova-semibold-webfont.eot');
        src: url('typography/proxima-nova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
             url('typography/proxima-nova/proximanova-semibold-webfont.woff') format('woff'),
             url('typography/proxima-nova/proximanova-semibold-webfont.ttf') format('truetype'),
             url('typography/proxima-nova/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
        font-weight: normal;
        font-style: normal;

  }	
  
  @font-face {
   	 	font-family: 'proxima_nova_lt';
   	 	src: url('typography/proxima-nova/proximanova-light-webfont.eot');
   	 	src: url('typography/proxima-nova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
        	 url('typography/proxima-nova/proximanova-light-webfont.woff') format('woff'),
        	 url('typography/proxima-nova/proximanova-light-webfont.ttf') format('truetype'),
        	 url('typography/proxima-nova/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
         font-weight: normal;
         font-style: normal;
    }


    @font-face {
    	font-family: 'proxima_nova_regular';
    	src: url('typography/proxima-nova/proximanova-regular-webfont.eot');
    	src: url('typography/proxima-nova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        	 url('typography/proxima-nova/proximanova-regular-webfont.woff') format('woff'),
        	 url('typography/proxima-nova/proximanova-regular-webfont.ttf') format('truetype'),
        	 url('typography/proxima-nova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
        font-weight: normal;
        font-style: normal;
     }

    @font-face {
    	font-family: 'proxima_nova_rgitalic';
    	src: url('typography/proxima-nova/proximanova-regularitalic-webfont.eot');
    	src: url('typography/proxima-nova/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        	 url('typography/proxima-nova/proximanova-regularitalic-webfont.woff') format('woff'),
        	 url('typography/proxima-nova/proximanova-regularitalic-webfont.ttf') format('truetype'),
        	 url('typography/proxima-nova/proximanova-regularitalic-webfont.svg#proxima_nova_rgitalic') format('svg');
        font-weight: normal;
        font-style: normal;
     }
     
	  
	  @font-face {
		  font-family: 'museo_sans500';
		  src: url('typography/museo-sans/museosans_500-webfont.eot');
		  src: url('typography/museo-sans/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
		  	   url('typography/museo-sans/museosans_500-webfont.woff') format('woff'),
		  	   url('typography/museo-sans/museosans_500-webfont.ttf') format('truetype'),
		  	   url('typography/museo-sans/museosans_500-webfont.svg#museo_sans500') format('svg');
		  font-weight: normal;
		  font-style: normal;
	  }
	  
	  @font-face {
		  font-family: 'museo_sans500_italic';
		  src: url('typography/museo-sans/museosans_500_italic-webfont.eot');
		  src: url('typography/museo-sans/museosans_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
		 	   url('typography/museo-sans/museosans_500_italic-webfont.woff') format('woff'),
		 	   url('typography/museo-sans/museosans_500_italic-webfont.ttf') format('truetype'),
		 	   url('typography/museo-sans/museosans_500_italic-webfont.svg#museo_sans500_italic') format('svg');
		font-weight: normal;
    	font-style: normal;
    }	

    @font-face {
    	font-family: 'museo_sans700';
    	src: url('typography/museo-sans/museosans_700-webfont.eot');
    	src: url('typography/museo-sans/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
        	 url('typography/museo-sans/museosans_700-webfont.woff') format('woff'),
        	 url('typography/museo-sans/museosans_700-webfont.ttf') format('truetype'),
        	 url('typography/museo-sans/museosans_700-webfont.svg#museo_sans700') format('svg');
        font-weight: normal;
        font-style: normal;
    }



/* Site Wide Styles
  --------------------------------------------------------------------------------- */
  
  ::selection {
	  color: #ffffff;
	  background: #ffa200;
  }
  
  ::-moz-selection {
	  color: #ffffff;
	  background: #ffa200;
  }
  
  img, embed, video, object {
	  max-width: 100%;
  }
  
   .col-last {
	    margin-right: 0px !important;
	}
  
  body {
  	  font-family: "proxima_nova_lt", sans-serif;
	  font-size: 100%;
	  background: #d9dacb;
  }
  .wrapper-iphone {
	  width: 100%;
	  display: block;
	  overflow-x: hidden;
  }
  
  .main-header {
	  background: #e9eadc;
	  position: relative;
   }
   
   .header-alert {
	   background: #ffa200;
	   color: #fff;
	   font-family: "museo_sans500", sans-serif;
	   text-transform: uppercase;
	   letter-spacing: 1px;
	   text-align: center;
	   position: relative;
	   padding: 0.875em;
   }
   
   .header-alert p {
	   font-size: 0.515em;
   }
   
   .header-alert a {
	   color: #fff;
	   -webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	   -o-transition: all .2s linear;
	   transition: all .2s linear;
   }
   
   .header-alert a:hover {
	   color: #333;
   }
   
   .header-alert .alert-close {
	   text-decoration: none;
	   color: #fff;
   }
   
   .header-alert i {
	   display: block;
	   position: absolute;
	   right: 20px;
	   top: 13px;
   }
   
   .header-btn-reserve {
	   background: #ffa200;
	   color: #ffffff;
	   text-transform: uppercase;
	   float: right;
	   padding: 0.8em 1.5em;
	   font-family: "proxima_nova_bold", sans-serif;
	   font-size: 0.842em;
	   -webkit-transition: background 0.2s linear;
	   -moz-transition: background 0.2s linear;
	   -o-transition: background 0.2s linear;
	   -ms-transition: background 0.2s linear;
	   transition: background 0.2s linear;
   }
   
   .header-btn-reserve:hover {
	   background: #ffb026;
   }
   
   .header-btn-reserve:hover i {
	   left: 0.2em;
   }
   
   .cta-icon {
   	   position: relative;
	   left: 0;
	   margin-right: 0.3em;
	   -webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	   -o-transition: all 0.2s linear;
	   -ms-transition: all 0.2s linear;
	   transition: all 0.2s linear;
   }
   
   .btn-reserve-wrapper {
	   padding-top: 0.475em;
	   display: none
   }
  
  .main-header .menu-link {
	  background: #d0c4ae;
	  padding-top: 0.333em;
	  float: right;
	  text-align: center;
	  width: 1.667em;
	  height: 1.667em;
	  overflow: hidden;
	 
	 font-size: 1.875em;
	 color: #ffffff;
	 
  }
 
  .menu-link > .icon-reorder, .menu-link .icon-remove-sign {
	  width: 100%;
	  height: 100%;
  }
  
  .main-header .register-link:hover {
	  background-color: #ffb026;
  }
  
  #menu, #menu > ul ul  {
	  clear: both;
	  -webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -ms-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
	  transition: all .3s ease-out;
	  
  }
  
  #menu {
	  background: #d9dacb;
  }
  
  #menu > ul ul {
	  background: #cccdbe;
  }
  
  .js #menu {
	  overflow: hidden;
	  max-height: 0;
  }
  
  #menu.active {
     		
	  max-height: 25em;
  }
  
  #menu > ul {
	  margin: 0;
	  padding: 0;
	  border-top: 1px solid #c5c6b8;
  }
  
  .js .sub-menu {
	  overflow: hidden;
	  max-height: 0;
  }
  
  .sub-menu.active {
	  max-height: 55em;
  }
  
  #menu > ul > li {
	  border-bottom: 1px solid #e9eadc;
  }
  
  .current-menu-item > a {
	  color: #ffa200 !important;
  }
  
  .footer-desktop .current-menu-item a, .footer-desktop .current_page_item a {
	  color: #ffffff !important;
  }
  
  #menu li:nth-of-type(5), #menu li a:nth-of-type(5)  {
	  border-bottom: 0;
  }
  
  
  #menu li a {
  	text-transform: uppercase;
  	  color: #666666;
  	  font-family: "proxima_novasemibold", sans-serif;
  	  
	  display: block;
	  padding: 0.8em;
	  border-bottom: 1px solid #c5c6b8;
  }
  
  #menu ul ul li {
	  color: #666666;
  }
  
  #menu li.btn-reserve-menu a {
		background: #ffa200 !important;
		color: #ffffff !important;	  
		
  }
 
  
  #menu li.btn-reserve-menu:hover a {
		background: #ffb026 !important;
		color: #ffffff !important;
  }
  
  #menu li a:hover {
	  color: #ffa200;
	  background: #e9eadc;
	  
  }
  
  #menu .has-no-subnav > a:after,
  #menu .has-subnav > a:after  {
  	  font-family: "font_awesome";
	  float: right;
  }
  
  #menu .has-no-subnav > a:after {
	  content: "\f105";
  }
  
  #menu .has-subnav > a:after {
	  content: "+";
  }
  
  #menu .has-subnav > a.active:after {
	 content: "-";
  }
  .logo-mobile {
	  margin: 0.273em 3.8% 0 0.875em;
  }
  
  .logo-desktop {
	  display: none;
	  margin: 0.158em 3.8% 0 0.526em;
  }
  
  .logo-desktop, .logo-mobile {
	  float: left;
  }
  
  .header-logo {
	  /*background: url("../images/logo-atracktive.png") no-repeat;*/
	  height: 2.813em;
	  width: 9.813em;
	  
	  text-indent: -624.938em;
	  position: absolute;
	  left: 1.250em;
	  top: .2em;

  }
  
  .hero-unit {
	  background-color: #d9dacb;
	  padding: 1.5em;
	  display: block;
	  width: 100%;
	  background-size: cover !important;
  }
  
  .hero-unit h1 {
	  color: #ffa200;
	  text-transform: uppercase;
	  font-size: 1.500em;
	  line-height: 1.25;
	  font-family: "proxima_novasemibold", sans-serif;
	  text-align: left;
  }
  
  .play-btn {
	  color: #ffa200;
	  text-transform: uppercase;
	  font-size: 0.842em;
	  display: none;
	  margin-top: 0.625em;
	  
	  -webkit-transition: color .2s linear;
	  -moz-transition: color .2s linear;
	  -o-transition: color .2s linear;
	  -ms-transition: color .2s linear;
	  transition: color .2s linear;
  }
  
  .play-btn:hover {
	  color: #ffffff;
  }
  
  .play-btn .icon-play-circle {
	  margin-left: 0.413em;
	  padding-top: 0.313em;
	  font-size: 1.500em;
  }
  
  /*body.homepage .more-tours, body.homepage .latest-posts {
	  padding: 1em 0;
  }*/
  
  body.homepage .more-tours, body.homepage .latest-posts {
	  padding: 1em 0 3.5em 0;
  }
  
  body.homepage .more-tours {
	  
	  border-top: 1px solid #ccc;
  }
  
  body.homepage .latest-posts {
	  background: #d9dacb;
	  display: none;
  }
  
  body.homepage .subhead-paragraph {
	  line-height: 1.4em;
	  padding: 0 2%;
  }
  
  
  body.homepage .subhead-paragraph a {
	  color: #ffa200;
	  
	  -webkit-transition: color .2s linear;
	  -moz-transition: color .2s linear;
	  -o-transition: color .2s linear;
	  -ms-transition:  color .2s linear;
	  transition: color .2s linear;
  }
  
  body.homepage .subhead-paragraph a:hover {
	  color: #666666;
  }
  
  body.homepage .subhead-paragraph a:visited {
	  color: #ffa200;
  }
  
  
  
   body.homepage .container-iphone {
	  background-color: #ffffff;
	  padding: 1% 0;
  }
  
  body.contacts .container-iphone, body.tours-single .container-iphone, body.blog-single .container-iphone, body.blog-all .container-iphone,  body.blog-all .container-iphone, body.tours-all .container-iphone, body.about-us .container-iphone, body.faq .container-iphone, body.reserve .container-iphone, body.error-404 .container-iphone  {
	  background-color: #ffffff;
	  padding: 1% 0;
	  margin:  2%;
  
  }
  

  
  .more-like-this {
	  text-transform: uppercase;
	  font-family: "proxima_novasemibold", sans-serif;
	  font-weight: normal;
	  font-size: 0.875em;
	  color: #ffffff;
	  background: #d9dacb;
	  text-align: center;
	  padding: 1.250em 0.313em;
	  margin: 1% 2%;
	  display: block;
  }
  
  .more-like-this .icon-spin {
	  margin-right: 0.625em;
	  display: none;
  }
  
  .section-head {
	  text-align: center;
  }
  
  .sections-grid .section-head h2 {
	  text-transform: uppercase;
	  font-family: "proxima_nova_bold", sans-serif;
	  font-size: 0.875em;
	  color: #ffffff;
	  
	  padding: 1.250em 0.313em;
  }
  
  .wrap-season .section-head h2, .wrap-blog .section-head h2 {
	  background: rgba(0, 0, 0, .1);
  }
  
  .sections-grid .section-head p {
	  color: #666666;
	  text-align: center;
	  font-size: 1em;
	  line-height: 1.375;
	  display: none;
  }
  
  .section-head a {
	  color: #ffa200;
	  -moz-transition: color .2s linear;
	  -webkit-transition: color .2s linear;
	  -o-transition:  color .2s linear;
	  -ms-transition: color .2s linear;
	  transition: color .2s linear;
  }
  
  .wrap-blog img, 
  .wrap-season img {
	  border: 0;
	  margin: 1.125em 0;
  }
  
  .wrap-blog i,
  .wrap-season i {
	  font-size: 2.500em;
	  margin: 0.625em 0;
	  color: #ffffff !important;
  }
  
  .section-head a:hover {
	  color: #666666;
  }
  
  .sections-grid {
	  margin: 0 0.188em; 
   }
  
  .sections-grid > li {
	  width: 48%;
	  float: left;
	  margin: 1%;
	 
  }
  
  .sections-grid li.wrap-season, .sections-grid li.wrap-newsletter {
	  background: #ffa200;
	  text-align: center;
	  -moz-transition: background .2s linear;
	  -webkit-transition: background .2s linear;
	  -o-transition: background .2s linear;
	  -ms-transition: background .2s linear;
	  transition: background .2s linear;
  }
  
  .sections-grid li.wrap-season:hover, .sections-grid li.wrap-newsletter:hover {
	  background: #ffb026;
  }
  
  
  .sections-grid li.wrap-blog, .sections-grid li.wrap-contact, .sections-grid li.wrap-more {
	  background: #d9dacb;
	  text-align: center;
  }
  
  .sections-grid li.wrap-blog:hover, .sections-grid li.wrap-contact:hover, .sections-grid li.wrap-more:hover  {
	  background: #c8c9bb;
	  -moz-transition: background .2s linear;
	  -webkit-transition: background .2s linear;
	  -o-transition: background .2s linear;
	  -ms-transition: background .2s linear;
	  transition: background .2s linear;
  }
  
  .footer-iphone {
	  
	  
	  padding: 0.625em;
	  position: relative;
  }
  
  .footer-iphone .copyright {
	  float: left;
  }
  
  .footer-iphone small {
	  font-family: "proxima_nova_bold", sans-serif;
	  color: #473e2d;
	  margin-top: 1em;
	  text-transform: uppercase;
	  font-size: 0.475em;
  }
  
  .footer-iphone .impressum-links {
	  display: none;
  }
  
  
  
  .footer-iphone .impressum-links ul li a {
	  margin-top: 1em;
	  
	  text-transform: uppercase;
	  color: #ffa200;
	  font-size: 0.495em;
	  
	  -moz-transition: color .2s linear;
	  -webkit-transition: color .2s linear;
	  -o-transition: color .2s linear;
	  -ms-transition: color .2s linear;
	  transition: color	.2s linear;
 }
 
 .footer-iphone .impressum-links ul li a:hover {
	 color: #ffffff;
 }
  
  .social-iphone {
	  float: right;
  }
  .footer-iphone li {
	  display: inline-block;
	  
  }
  
  .footer-iphone .social-iphone li{
	  margin-right: 0.313em;
  }
  
  .footer-iphone .social-iphone li:last-of-type {
	  margin-right: 0;
  }
  
  /* About Us
    --------------------------------------------------------------------------------- */
  
  .about-us .closed, .faq .closed {
	  display: none;
  }
  
  .about-us .open {
	  display: block;	  
  }
  
  .btn-active, .btn-inactive  {
	 -webkit-transition: background .2s linear;
	 -moz-transition: background .2s linear;
	 -o-transition: background .2s linear;
	 -ms-transition: background .2s linear;	 
	 transition: background .2s linear; 
	 
	  width: 100%;
	  display: block;
	  padding: 1em;
	  background: #ffa200;
	  margin-bottom: 0.313em;
	  color: #ffffff;
	  position: relative;
  }
  
  .btn-active:hover, .btn-inactive:hover {
	   background: #ffb026;
  }
  
  .btn-active > i, .btn-inactive > i {
	  position: absolute;
	  right: 0.625em;
	  top: 50%;
	  margin-top: -0.5em;
  }
  
  
  .team-list:nth-child(2n) {
	  margin-right: 0 !important;
  }
  
  
  .team-list li h4, .faq-wrap h4 {
	  color: #ffa200;
	  font-size: 1.250em;
	  margin: 0.500em 0 1em;
	  font-family: "proxima_novasemibold", sans-serif;
	  font-weight: normal;
	  
  }
  
  .team-list li h4 {
	  display: none;
  }
  
  .team-list li img {
	  display: block;
  }
  
  .team-list li header {
	  margin-bottom: 1.5em;
  }
  
  .team-list li header:before {
	  float: left;
	  display: block;
	  margin-right: 20px;
	  
  }
  
  .team-list > li ul {
	  font-size: 0.750em;
	  font-family: "museo_sans500", sans-serif;
	  color: #666666;
	  
  }
  
  .team-list > li ul li {
	  margin-bottom: 0.714em;
	  line-height: 1.3;
  }
  
  .team-list > li ul li a {
	  color: #ffa200;
  }
  
  .team-list > li ul li a:hover {
	  color: #666666;
  }
  
  
  #norbert-martini header:before {
	  content: url("http://www.atracktive.com/wp-content/uploads/2014/05/norbert-square-small.png");
	  
  }
  
   #massimo-casorzo header:before {
	  content: url("http://www.atracktive.com/wp-content/uploads/2014/05/massimo-square-small.png");
	  
  }
  
  #axel-molinero header:before {
	  content: url("http://www.atracktive.com/wp-content/uploads/2014/05/axel-square-small.png");
	  
  }
  
  #florian-mair header:before {
	  content: url("http://www.atracktive.com/wp-content/uploads/2014/05/florian-square-small.png");
	  
  }
  
  #roberta-ribotta header:before {
	  content: url("http://www.atracktive.com/wp-content/uploads/2014/05/roberta-square-small.png");
	  
  }
  
  .partners-list {
	  text-align: center;
  }
  
  .partners-list li {
	 margin-bottom: 1.2em; 
  }
  
  .partners-list li img {
	  display: block;
  }
  
   .about-intro {
		  
		 padding: 2em 0 2em;
	  }
	  
	  .team-section {
		 padding: 2em 0 2em;
	  }
	  
	  .partners-section {
		  padding: 2em 0 2em;
	  }

  
  
  
  .faq-wrap h4 {
	  display: none;
	  line-height: 1.3;
  }
  
  .faq .info-body {
	  margin-top: 1.125em;
  }
  
  .about-us .text-block p {
  	  text-align: right;
  	  font-style: italic;
	  color: #ffa200;
	  font-size: 0.750em;
	  margin-top: 1em;
	 
	  
  }
  
  #axel-thumb img {
	  margin: 0 auto;
	  margin-bottom: 1.250em;
	  display: none;
  }
  .levels-wrap {
	  margin-top: 1.875em;
  }
  
  .faq-wrap h6 {
	  font-family: "proxima_nova_regular", sans-serif;
	  font-size: 0.875em;
	  color: #ffffff;
	  margin: 0.625em 0 1em;
	  padding: 1em;
	  background: #666666;
	  text-transform: uppercase;
  }
  
  .faq-wrap ul {
	  
	  list-style-type: disc;
	  margin-left: 5%;
	  margin-bottom: 1.250em;
  }
  
  .faq-wrap ul li {
	  font-size: 0.875em;
	  line-height: 1.35714287;
	  font-family: "museo_sans500", sans-serif;
	  color: #666666;
	  margin-bottom: 0.625em;
  }
  
  .semi-bold {
	  font-family: "museo_sans700", sans-serif;
  }
  
  .about-us .about-block {
	  margin-bottom: 1.875em;
  }
  
  .gutschein {
	  font-family: "museo_sans500", sans-serif;
	  padding-left: 2em;
	  list-style: disc;
	  color: #666666;
  }
  
  .gutschein li {
	 line-height: 1.50em;  
  }
 
  
  /* Tours Single
    --------------------------------------------------------------------------------- */
    
    .label-new {
	    display: none;
	    position: absolute;
	  	  top: 5px;
	  	  right: 5px;
		  color: #ffffff;
		  background-color: #ffa200;
		  -moz-border-radius: 2px;
		  -webkit-border-radius: 2px;
		  -o-border-radius: 2px;
		  border-radius: 2px;
		  font-size: 0.750em;
		  letter-spacing: 1px;
		  padding: 0.3em;
		  font-family: "proxima_novasemibold", sans-serif;
    }
    .grid-overviews li.hovered .excerpt-info {
	    height: 100%;
	}
    
    .excerpt-info .subhead, .excerpt-info h2, .excerpt-info dl, .excerpt-info .quick-info {
	    text-align: left;
    }
    
    
    
    .excerpt-info {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    background-color: #ffffff;
	    height: 0;
	    width: 100%;
	    padding: 0 1em;
	    -webkit-transition: all .2s linear;
	    -moz-transition: all .2s linear;
	    -o-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	    transition: all .2s linear;
	    overflow: hidden;
    }
    
    .excerpt-info .subhead {
	    font-family: "proxima_nova_regular", sans-serif;
	    font-size: 0.625em;
	    color: #666666;
	    margin: 2em 0 1em 0;
	    
    }
    
    .excerpt-info h2 {
	    font-family: "proxima_nova_regular", sans-serif;
	    color: #ffa200;
	    font-size: 0.875em;
	    line-height: 1.333;
    }
    
    .excerpt-info dl {
	    padding: 1em 0 1em;
	    color: #666666;
	    font-size: 0.625em;
    }
    
    .excerpt-info dl dt, .excerpt-info dl dd {
	    display: inline-block;
    }
    
    .excerpt-info dl dd.location {
	    margin-right: 0.625em;
    }
    
    .excerpt-info .quick-info {
	    font-family: "museo_sans500", sans-serif;
	    font-size: 0.725em;
	    color: #666666;
	    margin-top: 1.5em;
	    line-height: 1.435;
    }
    
    .excerpt-info-btn {
	    text-align: center;
	    background-color: #ffa200;
	    color: #ffffff;
	    text-transform: uppercase;
	    padding: 0.313em;
	    font-size: 0.775em;
	    margin-top: 1em;
	    display: inline-block;
	    -webkit-transition: background .2s linear;
	    -moz-transition: background .2s linear;
	    -o-transition: background .2s linear;
	    transition: background .2s linear;
	}
	
	.excerpt-info-btn:hover {
		background: #ffb026;
	}
    
    .select-cat {
	    display: none;
    }
    
    hr {
	   	display: none;
	   	border: 0;
	   	border-top: 3px solid #ffa200;
	   	margin: 0.625em 0 1.250em;;
   	}
    
    .inner {
	    margin: 5%;
    }
    
    .small-heading {
	    font-size: 1em;
	    font-family: "museo_sans700", sans-serif;
	    text-transform: uppercase;
	    color: #666666;
    }
    
    
    .col-half {
	    width: 100%;
	    float: none;
	    display: block;
    }
    
    .faq .col-half {
	    width: 100%;
	    float: none;
	    display: block;
    }
    
    p.orange {
	    font-size: 1em;
	     line-height: 1.4;
	     color: #ffa200;
	     margin-bottom: 1em;
	     font-family: "museo_sans500", sans-serif;
    }
    
    p.info-body {
	    line-height: 1.35714287;
	    font-size: 0.875em;
	    color: #666666;
	    margin-bottom: 1em;
	    font-family: "museo_sans500", sans-serif;
    }
    
    .info-body > a {
	    color: #ffa200;
	    -webkit-transition: color .2s linear;
	    -moz-transition: color .2s linear;
	    -o-transition: color .2s linear;
	    transition: color .2s lineaR;
    }
    
    .info-body > a:hover {
	    color: #666666;
    }
    
    .facts {
	    width: 100%;
	    margin: 1.875em 0 1.875em;
    }
    
    .facts a {
	    color: #ffa200;
	    
	    -webkit-transition: color .2s linear;
	    -moz-transition: color .2s linear;
	    -o-transition: color .2s linear;
	    -ms-transition: color .2s linear;
	    transition: color .2s linear;
    }
    
    .facts a:hover {
	    color: #666666;
    }
    
    .facts > div {
	    /*float: left;
	    width: 48%;*/
	    float: none;
	    width: 100%;
	    display: block;
	    margin-bottom: 1.125em;
	    
    }
    
    .facts header, #included-not header, #optionals header  {
		background: #666666;
		color: #ffffff;
		position: relative;
		text-transform: uppercase;
    }
    
    .facts header .wrap-figure, #included-not header .wrap-figure, #optionals header .wrap-figure {
	    float: left;
	    background: #ffa200;
	    padding: .5em;
    }
    
    .facts header .wrap-details   {
	    position: absolute;
	    top: 26%;
	    /*left: 25%;*/
	    left: 15%;
    }
    
    #included-not header .wrap-details, #optionals header .wrap-details {
	    position: absolute; 
	    top: 30%;
	    left: 16%;
    }
    
    .facts header span {
	    font-size: 0.875em;
	    font-family: "proxima_novasemibold", sans-serif;
    }
    
    .facts-info {
	    margin-right: 4%;
    }
    
    .dates {
	    margin-right: 0px;
    }
 
    .facts-wrap ul, .tours-text .prog-details {
	 	 padding: 0.625em;
	 	 list-style-type: disc;
	 	 /*margin-left: 10%;*/
	 	 margin-left: 5%;
	}
	
	.tours-text .prog-details {
		color: #666666;
		font-family: "museo_sans500", sans-serif;
		margin-bottom: 1.875em;
		font-size: 0.875em;
		line-height: 1.35714287;
	}

    
    .facts-wrap li > span {
	    margin-left: 0.313em;
    }
    
    .facts-wrap ul li {
	    font-size: 0.850em;
	    line-height: 1.48571429;
	    font-family: "museo_sans500", sans-serif;
	    color: #666666;
	    margin-bottom: 0.213em;
    }
    
    .tours-section dl dt {
	    text-transform: uppercase;
	    font-family: "proxima_novasemibold", sans-serif;
	    font-size: 0.875em;
	    color: #ffffff;
	    background: #666666;
	    padding: .5em;
	    margin-bottom: 0.625em;
	    
    }
    
    .tours-section dl dd {
	    color: #666666;
    } 
    
    .tours-section h2, .blog-wrap h2, .faq-wrap h2 {
	    font-size: 1.500em;
	    margin-bottom: 1.250em;
	    color: #ffa200;
	    font-family: "museo_sans700", sans-serif;
	    font-weight: normal;
	   
    }
    
    .more-info {
	    margin-bottom: 2.500em;
    }
    
      .more-info a {
	     /*color: #ffa200;
	     display: block;
	     -webkit-transition: all .2s ease-in-out;
	     -moz-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	     -ms-transition: all .2s ease-in-out;
	     transition: all .2s ease-in-out;
	     clear: both;
	     margin-bottom: .625em;*/
	     
	     
	 -webkit-transition: background .2s linear;
	 -moz-transition: background .2s linear;
	 -o-transition: background .2s linear;
	 -ms-transition: background .2s linear;	 
	 transition: background .2s linear; 
	 
	  width: 100%;
	  display: block;
	  padding: 1em;
	  background: #ffa200;
	  margin-bottom: 0.313em;
	  color: #ffffff;
	  }
  
  .more-info a:hover {
	   background: #ffb026;
   }
    
    
    .more-info i {
	   float: right;
    }
    
   .more-info .wrap {
	    padding: 0.625em 0.625em .3em 0.625em;   
		background:  #ffffff;
		border: 1px solid #e8e8e8;
    }
    
    
    #included {
	    margin-bottom: 0.625em;
    }
    
    #included-not {
	    margin-bottom: 0.875em;
    }
    
    .tours-single .open {
	    display: block;
    }
   
    .tours-single .closed {
	    display: none;
    }
    
    .plus-icon {
	    width: 1.063em;
	    height: 1.063em;
	    display: block;
	    margin-right: 0.625em;
	    float: left;
    }
   
    .open {
	    display: block;
    }
    
    
    #included-not h4, #optionals h4 {
	    text-transform: uppercase;
	    font-size: 0.875em;
	   
	    color: #ffffff;
	    font-family: "museo_sans500", sans-serif;
	
    }
    
    #included-not li, #optionals li {
	    font-size: 0.875em;
	    font-family: "museo_sans500", sans-serif;
	    margin-bottom: 0.625em;
	    color: #666666;
    } 
    
    .tours-single-controls {
	    
	    
    }
    
    .tours-single-controls a {
	    width: 33%;
	    background: #e9eadc;
	    display: inline-block;
	    padding: 0.750em 0.500em;
	    color: #666666;
	    border: 1px solid #ccc;
	    
	    text-align: center;
	    font-size: 1.250em;
	    -webkit-transition: all .2s linear;
		 -moz-transition: all .2s linear;
		 -o-transition: all .2s linear;
		 -ms-transition: all .2s linear;
		 transition: all .2s linear;
    }
    
    .tours-single-controls a:hover {
	    background: #d8d9cd;
	    color: #ffffff;
    }
    
    
    .tours-single-controls a.prev-post {
	    /*background-image: url("../images/left-angle-arrow-big.png");
	    background-position: 50% 50%;
	    background-repeat: no-repeat; */
	    
    }
    
    .tours-single-controls a.next-post {
	    
    }
    
    .tours-single .more-tours, .blog-single .latest-posts {
	    background-color: #ffffff;
	    margin: 1% 2%;
	    display: block;
    }
    
    
    .grid-overviews li {
	    width: 100%;
	    display: block;
	    background-color: #ffffff;
	    
	    position: relative;
	    border-bottom: 1px solid #e8e8e8;
	    
    }
    
    .grid-overviews li img {
	    width: 100%;
	    float: none;
	    display: none;
    }
    
    .grid-overviews .tour-details {
	    width: 100%;
	    text-align: left;
	    
    }
    
    .tour-details hgroup {
	    padding: 1em 1em 0 1em;;
    }
    
   
    
    
    .tour-details hgroup:after {
	    font-family: "font_awesome";
	    content: "\f054";
	    right: 1.250em;
	    color: #666666;
	    position: absolute;
	    top: 50%;
	    margin-top: -0.313em;
    }
    
    .tour-details h2 {
	    font-family: "proxima_nova_regular", sans-serif;
	    color: #ffa200;
	    font-size: 1em;
	    margin-bottom: 0.313em;
    }
    
    .more-tours .tour-details p {
	    font-size: 0.875em;
	    margin-bottom: 1em;
	    color: #666666;
    }
    
    .tour-details dl  {
	    font-size: 0.750em;
	    color: #d0c4ae;
	    clear: both;
	    padding:1.250em 0.833em;
	    

    }
    
    .tour-details dl dd {
		margin-right:1.250em;
    }
    
    .tour-details dl dt,  .tour-details dl dd {
	    display: inline-block;
    }
    
    #desktop-overviews {
	    display: none;
    }
    
    
    .section-title-wrapper {
	     text-align: center;
	     padding: 2em 0;
    }
    
    .team-section .section-title-wrapper,
    .partners-section .section-title-wrapper {
	     text-align: center;
	     padding: 0 0 3em;
    }
    
    .blog-all .section-title-wrapper {
	    padding: 3em 0;
    }
    
    .section-title-wrapper h2 {
	    color: #666666;
	    text-transform: uppercase;
	   
	    margin-bottom: 0.625em;
	    font-family: "proxima_novasemibold", sans-serif;
	    font-weight: normal;
	    font-size: 1.5;
    }
    
    .section-title-wrapper p {
	    color: #666666;
	    font-size: 0.842em;
    }
    
    .categories-container {
	    padding: 1em;
	    background: #d2d3c4;
	    border-top: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
    }
    
    .categories-container li {
	    display: inline-block;
	    margin-right: 1.2em;
	    
    }
    
    .categories-container li span {
	    font-family: "proxima_novasemibold", sans-serif;
	    color: #666666;
    }
    
    .tours-all .tours-single-controls, .blog-all .tours-single-controls {
		  display: none;
	  }
    
     #search-wrapper {
	    display: none;
    }
    
    #categories {
	    display: block;
    }
    .categories-container ul {
	        }
    
    .categories-container li a {
	    color: #666666;
	    -webkit-transition: color .2s linear;
	    -moz-transition: color .2s linear;
	    -o-transition: color .2s linear;
	    -ms-transition: color .2s linear;
	    transition: color .2s linear;
    }
    
    .categories-container li a:hover {
	    
	    color: #ffa200;
    }
    
    .carousel-wrap {
	    position: relative;
	    margin: 0 auto 2.6em;
    }
    
    .carousel-list-wrap {
	    overflow: hidden;
	    position: relative;
	    z-index: 0;
    }
    
    .carousel-wrap ul {
	    width: 9999em;
	    position: relative;
	    left: 0;
    }
    
    .carousel-wrap ul.animating {
	    -webkit-transition: left 0.25s ease-out;
	    -moz-transition: left 0.25s ease-out;
	    -o-transition: left 0.25s ease-out;
	    transition: left 0.25s ease-out;
    }
    
    .carousel-wrap li {
	    float: left;
	    position: relative;
    }
    
    .carousel-wrap img {
	    display: block;
    }
    
    .carousel-wrap nav {
	    overflow: hidden;
	    margin-top: 2%;
	    clear: both;
    }
    
    .carousel-wrap nav a {
	    width: 50%;
	    float: left;
	    padding: 1em;
	    color: #ffffff;
	    
	    background-color: #e9eadc;
	    -webkit-transition: opacity .2s linear;
		 -moz-transition: opacity .2s linear;
		 -o-transition: opacity .2s linear;
		 -ms-transition: opacity .2s linear;
		 transition: opacity .2s linear;
	    
    }
    
    .carousel-wrap nav a:hover {
	    opacity: 1;
    }
    
    .carousel-wrap nav a.prev {
	    border-right: 2px solid #ffffff;
    }
    
    .carousel-wrap nav a.next {
	    text-align: right;
	    border-left: 3px solid #ffffff;
    }
    
    .carousel-wrap nav a.inactive {
	    opacity: .2;
    }
    
    .month-wrap h2 {
	    text-transform: uppercase;
	    color: #ffa200;
	    font-family: "proxima_novasemibold", sans-serif;
	    font-size: 1.125em;
	    display: none;
    }
    
    .calendar-overview {
	    position: relative;
	    list-style: none;
	    background-color: #fff;
	    font-family: "proxima_nova_regular", sans-serif;
	    width: 100%;
	    padding: 1.125em; 
	    border-bottom: 1px solid #ccc;
	 }

	 .calendar-buttons .more-infos-calendar {
		 color: #ffffff;
		 background: #ffa200;
		 padding: 0.5em 0.8em;
		 -webkit-border-radius: 2px;
		 -moz-border-radius: 2px;
		 -o-border-radius: 2px;
		 border-radius: 2px;
		 text-transform: uppercase;
		 display: none;
		 -webkit-transition: background .2s linear;
		 -moz-transition: background .2s linear;
		 -o-transition: background .2s linear;
		 transition: background .2s linear;
		 letter-spacing: 1px;
		 font-family: "proxima_novasemibold", sans-serif;
     }
     
     .calendar-buttons .more-infos-calendar:hover {
	     background: #ffb026;
     }
     
	 .calendar-buttons .more-infos-buchung {
	     margin-right: 0.5em;
     }
     
     .calendar-buttons {
	     position: absolute;
	     top: 33%;
	     right: 20px;
     }

     .orange-left {
	     position: absolute;
	     top: 0;
	     left: 0;
	     height: 100%;
	     width: 4px;
	     background-color: #ffa200;
	     display: none;
	  }

	  .orange-first {
		  background-color: #FCA600;
	  }

	  .orange-second {
		  background-color: #EE8900;
	  }

	  .orange-third {
		  background-color: #DE6D00;
      }

      .orange-fourth {
	      background-color: #D95100;
	  }

	  .date {
		  display: inline-block;
		  width: 10%;
		  text-align: center;
		  color: #666666;
		  text-transform: uppercase;
		  margin-right: 1.250em; 
		  font-family: "museo_sans500", sans-serif;
	   }

	   span.date-number {
		   font-size: 2.250em;
		   font-weight: bold;
	   }

	   span.day,
	   span.month {
		   font-size: 0.625em;
		   letter-spacing: 1px; 
	   }

	   .date span {
		   display: block;
	   }
	   
	   .calendar-title {		 
	     vertical-align: top;
	   }

	   .calendar-title h3 {
		   color: #ffa200;
		   font-size: 0.875em;
		   font-weight: normal;
		   margin: 0.875em 0 0.313em 0;
	   }
	   
	   .calendar-title p {
		   color: #666666;
		   font-size: 0.750em;
		   display: none;
		   line-height: 1.4;
	   }

	   .calendar-details:after {
		   font-family: "font_awesome";
		   content: "\f054";
		   position: absolute;
		   top: 40%;
		   right: 0.625em;
		   color: #666666; 
		}

		.calendar-details ul {
			font-size: 0.688em;
			color: #d0c4ae;
			
	    }

	    .icon-tour-meta:before {
		    font-family: "font_awesome";
		    font-weight: normal;
		    font-style: normal;
		    display: inline-block;
		    margin-right: 0.313em;
		}

		li.icon-location {
			margin-right: 0.875em;
		}

		li.icon-location:before {
			content: "\f041";
		}


		li.icon-days:before {
			content: "\f017";
		}	

    
   
  /* Blog All
    --------------------------------------------------------------------------------- */
    
    #searchform {
	    background: #e9eadc;
	    border: 1px solid #ccc;
	    margin-bottom: 0.625em;
	    margin-top: 1.250em;
	    position: relative;
    }
    
   	#searchform input[type="text"] {
	   	padding: 0.875em 1.250em;
	   	border: 0 none;
	   	width: 100%;
	   	background: none;
	   	text-transform: uppercase;
	   	font-size: 1.2em;
	   	font-family: "proxima_nova_regular", sans-serif;
	   	margin: 0;
	   	color: #666666;
   	} 
   	
 
    
    #searchform input[type="submit"] {
	   background: #e9eadc url('../images/icon-search.png') no-repeat;
	   background-position: -5px -5px;
	   display: inline;
	   text-indent: -624.938em;
	   height: 2.3em;
	   width: 2.3em;
	   border: 0 none;
	   outline: none; 
	   cursor: pointer;
	   float: right;
	   -webkit-transition: background .3s ease-in-out;
	   -moz-transition: background .3s ease-in-out;
	   -o-transition: background .3s ease-in-out;
	   -ms-transition: background .3s ease-in-out;
	   transition: background .3s ease-in-out;
	   position: absolute;
	   top: 0.813em;
	   right: 2em;
	   margin-top: 0.333em;
   }
   
   #searchform input[type="submit"]:hover {
	   background-position: -5px -35px;
   }
   
    
    #searchform input[type="text"]:focus {
	    outline: none;
    }
    
    .excerpt-wrapper {
	   padding: 1em; 
	   display: none;
    }
    
    .latest-posts .tour-details .post-excerpt {
	    font-size: 0.875em;
	    margin-bottom: 1em;
	    color: #666666;
	    line-height: 1.28571429;
	    font-family: "museo_sans500", sans-serif;
	    display: none;
	    margin-right: 1.5em;
	    
    }
    
    .latest-posts .tour-details .read-more {
	    text-transform: uppercase;
	    float: right;
	    color: #acd941;
	    margin: 0.875em 0 1.5em ;
	    font-size: 0.725em;
    }
    
    
	
    
   /* Blog Single
    --------------------------------------------------------------------------------- */
  
    .blog-wrap figure, .team-list li figure {
	    background: #e8e8e8;
	  	padding:0.375em;
	  	margin-bottom: 0.625em;
    }
    
    
    .blog-wrap .post-photo img {
	    display: block;
    }
    
    .blog-wrap a {
	    border: 0 !important;
    }
    
    .col-half-inners {
	    width: 48%;
	    float: left;
	    margin: 1%;
    }
    
    .post-gallery {
	    margin-bottom: 2.500em;
    }
    
    .latest-posts {
	    background-color: #ffffff;
	    display: block;
	}
    
    
    .blog-sidebar h3 {
	    text-transform: uppercase;
	    font-family: "proxima_novasemibold", sans-serif;
	    font-size: 0.875em;
	    color: #ffffff;
	    background: #d9dacb;
	    text-align: center;
	    padding: 1.250em 0.313em;
	    margin-bottom: 1%;
		display: block;
    }
    
    .lightbox, #video-wrap {
    	display: none;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 2;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    padding: 3em 1em;
	    background: rgba(0, 0, 0, 0.75);
    }
    
    #close-video {
	  	color: #ffa200;
	  	position: absolute;
	  	text-align: center;
	  	right:  30px;
	  	font-size: 1.7em;
	  	top:  30px;
	}
    
    figcaption {
	    font-family: "proxima_nova_regular", sans-serif;
	    font-style: italic;
	    font-size: 0.750em;
	    line-height: 1.5;
	    color: #8c8c8c;
	    margin: 0.625em 0 1.875em 0;
    }
  
  /* Contacts
    --------------------------------------------------------------------------------- */
    
    .ajax-loader {
	    display: none !important;
    }
    
    div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok, div.wpcf7-mail-sent-ng {
	    clear: both;
    }
    
    .form {
	    background-color: #e9eadc;
	    margin: 5%;
    }
    
    .tours-single .heading-contacts {
	    
    }
    
    .heading-contacts {
	    padding: 1.5em;
	    
	    background: #d9dacb;
	    
	    position: relative;
	    width: 100%;
	    background-size: cover !important;
	 }
	 
	 
	 .top-shadow {
		  -webkit-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.05);
		  -moz-box-shadow:    0px -4px 2px rgba(0, 0, 0, 0.05);
		  box-shadow:         0px -4px 2px rgba(0, 0, 0, 0.05);
	 }
    
    .heading-contacts h2 {
	    text-transform: uppercase;
	    font-size: 1.500em;
	    line-height: 1.25;
	    margin-bottom: .313em;
	    color: #ffa200;
	    font-weight: normal;
	    font-family: "proxima_novasemibold", sans-serif;
	 }
	 
	 .heading-contacts p {
		 margin-bottom: 1.250em;
	 }
    
    #info-desktop {
	    display: none;
    }
    
    .contact-info {
    	padding: 0.625em 0;
	    margin: 5%;
	    text-align: left;
    }
    
    .tours-info {
	    padding: 0.625em 0;
	    margin: 5%;
	    text-align: left;
    }
    
    .text-block {
	    width: 100%;
	    display: block;
    }
    
    .text-block i {
	    color: #666666;
    }
    
    
    .text-block ul {
	    
    }
    
    .text-block img {
	    vertical-align: middle;
    }
    
    
    .text-block span {
	    margin: 0.313em 0 0 0.313em;
    }
    
    .contact-details ul a {
	    color: #ffa200;
	    -webkit-transition: color .2s linear;
	    -moz-transition: color .2s linear;
	    -o-transition: color .2s linear;
	    -ms-transition: color .2s linear;
	    transition: color .2s linear;
    }
    
    .contact-details li {
	    display: block;
	    margin-top: 1.125em;
	    margin-right: 1.250em;
	    
    }
    
    .contact-details p {
	    color: #666666;
    }
    
    .contact-details  a:hover {
	    color: #666666;
    }
    
    .form-open {
	    display: block;
    }
    
    .form-closed {
	    display: none;
    }
    
    .form .wrap {
		padding: 1.5em 1.5em .3em 1.5em;   
		background:  #d9dacb;
    }
    
    .form .status {
	    color: #ff581d;
	    padding: 0.714em;
	    font-family: "proxima_nova_regular", sans-serif;
	    font-size: 0.875em;
	    border: 2px solid #ff581d;
	    text-align: center;
	    display: none;
	    margin-bottom: 1.125em;
    }
    
    .form form header  {
	    width: 100%;
	    background: #666666;
	    position: relative;
	}
    
    .form form header .wrap-figure {
	    width: 30%;
	    float: left;
	    width: 2em;
	    height: 2em;
	    text-align: center;
	    font-size: 1.875em;
	    color: #ffffff;
	    background-color: #ffa200;
	    padding-top: 0.433em;
    }
    
    .form form header .wrap-details {
	    position: absolute;
	    top: 50%;
	    left: 27%;
	    padding: 0 0.313em;
	    margin-top: -0.625em;
    }
    
    
    .form form header h2 {
	    color: #ffffff;
	    text-transform: uppercase;
	    font-family: "proxima_novasemibold", sans-serif;
	    font-size: 1em;
    }
    
    .form form label {
	    margin-bottom: 0.625em;
	    display: none; 
    }
    
    
    .form form input[type="text"], .form form input[type="email"], .form form input[type="tel"], .form form select {
	    border: 1px solid #c8c9bb;
	    display: block;
	    width: 100%;
	    font-size: 0.875em;
	    letter-spacing: .1em;
	    font-family: "proxima_nova_regular", sans-serif;
	    padding: 0.625em;
	    font-weight: 400;
	    height: 3em;
	    margin-bottom: 1.125em;
	    -webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
	    -moz-appearance: 0 none;
	    -webkit-appearance: none;
	    
    }
    
    .form form select {
	    color: #666666;
    }
    
    
    
    /*.form label:after {
	    
	    content: "\f069";
	    font-family: "font_awesome";
	    color: #ffa200;
	    font-size: 0.4em;
	    display: inline-block;
	    margin-left: 0.3em;
	    
    }*/
    
    .form form textarea {
    	border: 1px solid #c8c9bb;
	    display: block;
	    width: 100%;
	    font-size: 0.875em;
	    letter-spacing: .1em;
	    font-family: "proxima_nova_regular", sans-serif;
	    padding: 0.625em;
	    font-weight: 400;
	    height: 8em;
	    margin-bottom: 1.125em;
	    resize: none;
	    -webkit-appearance: none;
	 }
	 
	 .form form input[type="submit"] {
	 	 background: #d0c4ae;
		 display: block;
		 width: 100%;
		 font-size: 1em;
		 padding: 0.625em 1.125em;
		 color: #ffffff;
		 font-family: "proxima_nova_regular", sans-serif;
		 font-weight: 400;
		 border: none;
		 margin-bottom: 1em;
		 line-height: 1em;
		 -webkit-transition: background .2s linear;
		 -moz-transition: background .2s linear;
		 -o-transition: background .2s linear;
		 -ms-transition: background .2s linear;
		 transition: background .2s linear;
		 cursor: pointer;
		 -webkit-appearance: none;
	 }
	 
	 .form form input[type="submit"]:hover {
		 background: #baaf9b;
	 }
	 
	 .form form input:focus, .form form textarea:focus, select:focus {
		 outline: 0;
	 }
	 
	 .twitter li {
		 list-style: none;
		 text-align: center;
	 }
	 
	 .twitter p {
		 text-align: center !important;
	 }
	 
	 .kmeta,
	 .kfooter {
		 display: none !important;
	 }
	 
	 .reserve-cb {
		 margin-bottom: 1em;
	 }
	 
	 .reserve-cb > a {
		 color: #ffa200;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-o-transition: color .2s linear;
		-ms-transition: color .2s linear;
		transition: color .2s linear;
	 }
	 
	 .reserve-cb > a:hover {
		 color: #666666;
	 }
	 
	 p > em {
		 color: #666666;
	 }
	 
	 p.condition {
		 font-size: 0.750em;
	 }
	 
	 p > em > span,
	 label > span {
		 color: #ff0000;
		 font-size: 1.250em;
	 }
    
    
    /*.wrapper-dropdown {
		position: relative;
		background: #ffffff;
		border: 1px solid #ccc;
		padding: 0.877em 0.625em;
		font-family: "proxima_nova_lt", sans-serif;
		font-size: 0.875em;
		color: #a9a9a9;
		cursor: pointer;
		outline: none;
		margin-bottom: 1.125em;
	}

	
	.wrapper-dropdown:after {
		font-family: "font_awesome";
		content: "\f0dc";
		color: #a9a9a9;
	
		float: right;
	}
	
	.wrapper-dropdown span {
		text-transform: capitalize;	
		font-family: "proxima_nova_regular", sans-serif;
		 font-weight: 400;
		 letter-spacing: .1em;
		
	}
	
	.wrapper-dropdown .dropdown {
		position: absolute;
		z-index: 100;
		top: 100%;
		left: -0.071em;
		right: -0.071em;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		background: #e9eadc;
		-moz-transition: all .3s ease-out;
		-webkit-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
		list-style: none;
		opacity: 0;
		pointer-events: none;
	}
	
	.wrapper-dropdown .dropdown li a {
		display: block;
		text-decoration: none;
		color: #ffa200;
		padding: 0.625em 0.625em 0.625em 1.563em;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;

	}
	
	.wrapper-dropdown .dropdown li a:hover {
		color: #666666;
	}
	
	.wrapper-dropdown .dropdown li:hover a {
		background: #d8d9cd;
	}

	.wrapper-dropdown.active:after {
		border-width: 0 6px 6px 6px;
	}

	.wrapper-dropdown.active .dropdown {
		pointer-events: auto;
		opacity: 1;
	} */
	
	.link {
		color: #ffa200;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-o-transition: color .2s linear;
		-ms-transition: color .2s linear;
		transition: color .2s linear;
	}
	
	.link:hover {
		color: #666666;
	}
  
  /* Footer
   --------------------------------------------------------------------------------- */
  
    .tours-single .cta-block {
	    background: #e9eadc;
	}
    
    .cta-block--bottom ul li {
	    float: left;
	    width: 50%;
	    padding: 2.5em 0;
	    position: relative
    }
    
    .cta-block ul li:nth-child(1) {
    	//background: #f7f7ec;
    }
    
    .cta-block--bottom li+li:before {
	   content: "";
	   position: absolute;
	   width: 1px;
	   top: 0;
	   bottom: 0;
	   margin-left: -2em;
	   background-color: #ccc;	    
    }
    
    .cta-block--bottom li h1, 
    .cta-block--bottom li p
    .cta-block--bottom li span {
	    color: #666666;
    }
    
    .cta-block--bottom li h1 {
	    font-family: "proxima_novasemibold", sans-serif;
	    font-weight: normal;
	    letter-spacing: 1px;
	    margin: 0.5em 0;
	    text-transform: uppercase;
    }
    .cta-block--bottom li p,
    .cta-block--bottom li span {
	    font-size: 0.842em;
    }
    
    .cta-block--bottom li p {
	    font-size: 0.842em;
	    margin: 1em 0 1.5em 0;
    }
    
    .cta-block--bottom li span {
	    margin-left: 0.313em;
    }
    
    .cta-block--bottom li a {
	    font-family: "proxima_novasemibold", sans-serif;
	    font-weight: normal;
		letter-spacing: 1px;
		color: #fff;
		text-transform: uppercase;
		background-color: #ffa200;
		padding: 0.8em;
		display: inline-block;
		-webkit-transition: background .2s linear;
		-moz-transition: background .2s linear;
		-o-transition: background .2s linear;
		transition: background .2s linear;
		-webkit-border-radius: 2px;
		 -moz-border-radius: 2px;
		 -o-border-radius: 2px;
		 border-radius: 2px;
    }
    
    .cta-block--bottom li a:hover {
	    background-color: #ffb026;
    }
    
    .cta-block {
	    border-top: 1px solid #ccc;
	    background: #d9dacb;
	    display: none;
    }
    
    .cta-block p a {
	    color: #ffa200;
	    -webkit-transition: color .2s linear;
	    -moz-transition: color .2s linear;
	    -o-transition: color .2s linear;
	    transition: color .2s linear;
    }
    
    .cta-block p a:hover {
	    color: #666666;
    }
    
    .cta-block .follow {
	    font-size: 0.842em;
    }
    
    .cta-block .twitter-icon {
	    font-size: 2.368em;
	    margin-bottom: 0.526em;
	    color: #ffa200;
    }
    
    .cta-button {
	    
    }
    
    .cta-button {
	    margin-top: 2em;
    }
    
    .cta-button a {
	    color: #ffffff;
	    display: inline-block;
	    text-transform: uppercase;
	    background-color: #ffa200;
	    padding: 1.150em 3em;
	    font-size: 0.842em;
	    -webkit-transition: background .2s linear;
	    -moz-transition: background .2s linear;
	    -o-transition: background .2s linear;
	    transition: background .2s linear;
    }
    
    
    .cta-button a:hover {
	    background-color: #ffb026;
    }
    
   .footer-desktop {
	   padding: 2.5em 0 3em;;
	   background: #473e2d;
	   display: none;
   }
   
   .footer-desktop h6 {
	   color: #ffffff;
	   text-transform: uppercase;
	   font-family: "proxima_novasemibold", sans-serif;
	   font-weight: normal;
	   /*font-size: 0.875em;*/
	   font-size: 0.842em;
	   margin-bottom: 1.875em;
	   line-height: 1.3;
   }
   
   .footer-desktop a {
   	  color: #ffa200;
	  -webkit-transition: color .2s linear;
	  -moz-transition: color .2s linear;
	  -o-transition: color .2s linear;
	  -ms-transition: color .2s linear;
	  transition: color .2s linear;
	  
	   
   }
   
   .footer-desktop a:hover {
	   color: #ffffff;
   }
   
   .footer-desktop li {
	   /*font-size: 0.842em;*/
	   font-size: 0.737em;
	   color: #ffa200;
	   line-height: 1.650em;
	   
   }
   
   .newsletter p {
	   margin-bottom: 0.875em;
   }
   
   .newsletter input {
	   border: 1px solid #c8c9bb;
	    display: block;
	    /*width: 60%;*/
	    /*width: 50%; */
	    width: 100%;
	    /*font-size: 0.842em; */
	    font-size: 0.737em;
	   letter-spacing: .1em;
	    font-family: "proxima_nova_regular", sans-serif;
	    padding: 0.625em;
	    font-weight: 400;
	    height: 2.5em;

	   margin-bottom: 0.875em;
	   -webkit-border-radius: none;
	   -moz-border-radius: none;
	   border-radius: none;
	   -webkit-appearance: none;
	   -moz-appearance: none;
   }
   
   .newsletter input:focus {
	   outline: none;
   }
   
   .newsletter .subscribe {
	   /*display: inline-block; */
	   display: block;
	   /*width: 40%; */
	   width: 100%;
	   /*width: 32% */
	   height: 2.5em;
	   background-color: #acd941;
	   color: #ffffff;
	   font-family: "proxima_nova_lt", sans-serif;
	   /*font-size: 0.842em; */
	   font-size: 0.737em;
	   text-transform: uppercase;
	   border: 0 !important;
	   -webkit-appearance: none !important;
	   -moz-appearance: none !important;
	   /*margin-left: 0.313em;*/
	   padding: 0.625em;
	   text-align: center;
   }
   
   
   .col-one-third {
	   width: 30.75%;
	   float: left;
	   margin-right: 3.8%;
   }
   
   .eightcol {
	   width: 65.4%;
	   float: left;
	   margin-right: 3.8%;
   }
   
   .footer-desktop ul.footer-left-col {
	   /*float: left; */
	   /*margin-right: 2.250em;*/
	   float: none;
   }
   
   .footer-desktop p {
	   color: #ffa200;
	   /*font-size:0.842em;*/
	   font-size: 0.737em;
	   line-height: 1.28571429;
   }
   
   .impressum {
	   padding: 2em 0.625em 3em;
	   color: #ffffff;
	   background: #292318;
	   
   }
   
   .js .impressum {
	   display: none;
   }
   
   
   .impressum-details {
	   margin-top: 1.125em;
   }
   
   .impressum h4 {
	   font-family: "proxima_nova_regular", sans-serif;
	   text-transform: uppercase;
   }
   
   .impressum ul li{
	   font-family: "museo_sans500", sans-serif;
	   font-size: 0.737em;
	   line-height: 1.550em;
	   
   }
   
   .impressum ul li a {
	   color: #ffa200;
	   
	   -webkit-transition: color .2s linear;
	   -moz-transition: color .2s linear;
	   -o-transition: color .2s linear;
	   -ms-transition: color .2s linear;
	   transition: color .2s linear;
	}
	
	.impressum ul li a:hover {
		color: #ffffff;
	}
	
   .impressum p {
	   font-family: "museo_sans500_italic", sans-serif;
	   margin-top: 0.625em;
	    font-size: 0.737em;
	    line-height: 1.350em;
   }
   
  /* Page 404
    --------------------------------------------------------------------------------- */
    
    .page-404 {
	    text-align: center;
	    padding: 1em;
    }
    
    .page-404 h2 {
	    color: #ffa200;
	    text-transform: uppercase;
	    font-family: "proxima_nova_bold", sans-serif;
	    font-size: 3.479em;
	    font-weight: normal;
	    
    }
    
    .page-404 h4 {
	    text-transform: uppercase;
	    margin: 1em 0 0.625em;
	    font-weight: normal;
	     font-family: "proxima_novasemibold", sans-serif;
	    
    }
    
    .page-404 h4 {
	    color: #666666;
	    
    }
    
  /* Tipsy
    --------------------------------------------------------------------------------- */
    
    .tipsy { padding: 5px; font-size: 16px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color:#666666; color: white; max-width: 200px; text-align: center; }
  
  .tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
   
  /* Isotope Styles
   	--------------------------------------------------------------------------------- */ 
   	
   	.isotope-item { 
	   	z-index: 2; 
	} 
  
	.isotope-hidden.isotope-item { 
		pointer-events: none; 
		z-index: 1; 
	} 
  
	.isotope, 
	.isotope .isotope-item { 
		-webkit-transition-duration: 0.8s; 
		-moz-transition-duration: 0.8s; 
        transition-duration: 0.8s; 
    } 
  
    .isotope { 
	    -webkit-transition-property: height, width; 
	    -moz-transition-property: height, width; 
        transition-property: height, width; 
     } 
  
     .isotope .isotope-item { 
	     -webkit-transition-property: -webkit-transform, opacity; 
	     -moz-transition-property:    -moz-transform, opacity; 
	     transition-property:         transform, opacity; 
	 } 

	
  /* Media Queries
   --------------------------------------------------------------------------------- */
  
  @media screen and (min-width: 25.000em) {
	 
	 body:after {
		  content: 'medium';
		  display: none;
	  }
	   
	 body {
		  font-size: 1.2em;
	  }
	  
	  .col-half-inners {
	  	  width: 30.75%;
	  }
	  
	  .logo-mobile {
		  margin: 0.475em 0 0 0.875em
	  }
	 
  }
  
  @media screen and (min-width: 27.500em) {
	  
	 .select-cat {
		  display: inline-block;
	  }
	  
  }
  
  @media screen and (min-width: 35em) {
  
  	.partners-list li {
		  width: 30%;
		  float: left;
		  margin-right: 2%;
		  border: 1px solid #ccc;
	   }
	   
	   .partners-list li:nth-child(3n) {
		   margin-right: 0;
	   }
	  
	  
	  .date {
		  margin-right: 2em;
	  }

	  .title,
      .info-calendar,
      .more-infos-calendar {
	      display: inline-block; 
	   }

	   dd.calendar-details:after {
		   display: none;
	   }

	   .title h3 {
		   font-size: 1em; 
	   }
	   
	   
  } 
  
  @media screen and (min-width: 42.500em) {
	   
	  .calendar-title {
		  width: 30%;	   
	  }
	  
	  body:after {
		  content: 'medium-large';
		  display: none;
	  }
	  
	  body.homepage .latest-posts {
		  display: block;
	  }

	  body {
		 background: #e9eadc;
	  }
	  
	  .main-header .menu-link {
		  font-size: 2.5em;
	  }
	  
	  .footer-inner {
		  margin: 2%;
	  }
	  
	  .impressum {
		  padding: 2em 1.250em 3em;
	  }
	  
	  /* BEGIN TOURS-SINGLE MEDIA QUERIES */
	  
	  hr {
		  display: block;
	  }
	   
	  .logo-desktop {
	  	  display: block;
	  	  
	  }
	  
	  .logo-mobile {
		  display: none;
	  }
	  
	  p.info-body {
		  line-height: 1.45714287;
	  }
	  
	  .tours-text .prog-details {
		  line-height: 1.65714287;
	  }
	  
	  p.orange {
		  line-height: 1.6;
	  }
	  
	  .col-half {
		  width: 48%;
		  float: left;
		  margin-right: 3.8%;
	  }
	  
	  .col-three-fourth {
		  width: 65.4%;
		  margin-right: 3.8%;
	  }
	  
	  .one-fourth {
		  width: 30.75%;
		  margin-right: 3.8%;
	  }
	 
	  .tours-single .col-three-fourth {
		  width: 56.75%;
		  margin-right: 3.8%;
	  }
	  
	  .tours-single .one-fourth {
		  width: 39.45%;
	  }
	  
	  .col-three-fourth, .one-fourth {
		  float: left;
		  
	  }
	  
	  .facts {
		  margin: 0;
		  background: #ffffff;
		  padding: 1em;
	  }
	  
	  .facts-wrap ul li {
		  margin-bottom: 0.625em;
	  }
	  
	  .col-last {
	    margin-right: 0px;
	  }
	  
	  .tours-info {
		  margin:0;
		  padding: 0.625em 0 0;
	  }
	  
	  .info-icons li {
		  display: inline-block;
	  }
	  
	  .tours-single .heading-contacts {
		  border-bottom: 1px solid #ccc;
		  padding: 1.5em 1.5em 0;
	  }
	  
	  .tour-title {
		  float: left;
	  }
	  
	  #searchform {
		margin: 0;	  
	  }
	  
	  #searchform input[type="text"] {
		  padding: 0.7em 1.25em;
	  }
	  
	  #searchform input[type="submit"] {
		  margin-top: 0.625em;
	  }
	  
	  .tours-single-controls {
	  	  float: right; 
	  	 
	  }
	  
	  
	  .tours-all .tours-single-controls, .blog-all .tours-single-controls {
		  display: block;
	  }
	  
	  .tours-single-controls a {
		  width:2.500em;
		  height: 2.500em;
		  font-size: 1em;
	  }
	  
	  .facts header .wrap-details {
		  left: 13%;
	  }
	  
	  .facts header .wrap-figure, #included-not header .wrap-figure, #optionals header .wrap-figure {
			background: none;	  
	  }
	  
	  .facts header, #included-not header, #optionals header {
		  background: none;
		  color: #666666;
		 
	  }
	  
	  .facts-wrap {
		  background: none;
	  }
	  
	  .facts header span {
		  color: #ffa200;
	  }
	  
	  .facts-wrap ul {
		  margin-left: 13%;
	  }
	  
	  
	  .latest-posts {
		  background: none;
		  margin: 0;
	  }
	  
	  .excerpt-wrapper, .latest-posts .tour-details .post-excerpt {
		  display: block;
	  }
	 
	  
	  .carousel-wrap {
		  background: #ffffff;
		  padding: 0.313em;
		  border: 1px solid #ccc;
	  }  
	  
	  .carousel-wrap nav a {
		  position: absolute;
		  top: 50%;
		  
		  margin-top: -0.625em;
		  padding: .5em;
		  width: 1em;
		  border: 0;
		  font-size: 1.5em;
		  padding:0;
		  background: none;
		  opacity: 0;
		  
		  -webkit-transition: opacity .1s linear;
		  -moz-transition: opacity .1s linear;
		  -o-transiton: opacity .1s linear;
		  transition: opacity .1s linear;
		  -ms-transition: opacity .1s linear;
	  }
	  
	  .carousel-wrap nav a:hover {
		  opacity: 1;
	  }
	  
	  .carousel-wrap nav a.prev {
		  border:0 ;
		  padding-left: .2em;
		  left: 1%;
	  }
	  
	  
	  .carousel-wrap nav a.next {
	   	  
	   	  right: 1%;
	   	  border: 0;
	   	  padding-right: .5em;
	   }
	   
	   
	   
	  
	  /* END TOURS-SINGLE MEDIA QUERIES */
	  
	   body.homepage .container-iphone {
		   display: none;
		 }
	  
	  body.contacts .container-iphone, body.tours-single .container-iphone, body.blog-single .container-iphone, body.blog-all .container-iphone, body.tours-all .container-iphone, body.faq .container-iphone, body.reserve .container-iphone, body.error-404 .container-iphone {
	  background-color: transparent;
	  padding: 1% 0;
	  margin:  2%;
  
	  }
	  
	  body.about-us .container-iphone {
		  padding: 0;
		  margin: 0;
		  background: none;
	  }
	  
	  .about-intro {
		 padding: 3em 0 0.5em;
		 
	  }
	  
	  
	   .inner {
		  margin: 0;
	  }
	  
	  
	  .form {
		  margin: 5% 0 0;
	  }
	  	  
	  .form .wrap {
		  padding: 0;
		  background: none;
	  }
	  
	  .form-contacts header, #form-register header {
		  display: none;
	  }
	  
	  .contact-info {
		  margin: 0;
	  }
	  
	  .blog-wrap {
		  margin-top: 4em;
	  }
	  
	  .blog-wrap figure, .team-list li figure {
		  background: #ffffff;
		  border: 1px solid #ccc;
	  }
	  
	  .blog-single .tour-details h2 {
	    	font-size: 0.737em;
	  }
	  
	  
    .blog-single .tour-details hgroup:after {
	    display: none;
    }
    
    
    
     .tour-details hgroup {
	    padding: 1em 1em 1em 1em;
    }
    
     .homepage .more-tours .tour-details hgroup {
	     padding: 1em 1em 1em 1em;
     }
    
    .footer-desktop {
		  display: block;
	  }
	  
	  
	  .cta-block {
		  display: block;
	  }
    
      .more-like-this, .sections-grid {
		  display: none;
	  }
	  
	   .footer-iphone {
		  background: #352d1f;
		  padding: 1.250em;
	  }
	  
	  .footer-iphone .impressum-links {
		  display: block;
	  }
	  
	  .footer-iphone small {
		  color: #ffffff;
		  
	  }
	  
	  #desktop-overviews {
		  display: block;
	  }
	  
	  .tours-single .more-tours {
		  margin: 0;
		  padding: 0 0 3.250em;
		  border-top: 1px solid #ccc;
		  background-color: #d9dacb;
	  }
	  
	 .page-404 h2 {
		 font-size:4.985em;
	 }
	 
	 .page-404 h4 {
		 font-size: 1.526em;
	 }
	 
	 
	  
	  .calendar-overview {
		  margin-bottom: 1.2em;
		  border-bottom: none;
	  }
	  
	  .month-wrap {
		  margin-bottom: 3.750em;
	  }
	  
	  .month-wrap h2 {
		  display: block;
	  }
	  
	  .orange-left {
		  display: block;
	  }
	  
	  .calendar-title p {
		   display: block;
	   }
	   
	   .calendar-inner {
		   display: inline-block;
	   }
	   
	   .calendar-details {
		   margin-left: 1em;
		   vertical-align: bottom;
	   }
	   
	   .calendar-details ul {
			padding-left: 2em;
	   }
	   
	   .calendar-details ul li {
		   display: block;
		   line-height: 2em;
	   }
	   
	   span.month {
		   display: none;
	   }
	   
	   span.date-number {
		   font-size: 2.700em;
	   }
	   
	   .calendar-overview .more-infos-calendar {
		   display: inline-block;
	   }
	   
	   .calendar-details:after {
		   display: none;
	   }
	   
	   .calendar-title h3 {
		   margin: 0 0 0.625em;
	   }
	   
	   .calendar-details ul {
			padding-left: 2em;
	   }
	   
	   .about-us .text-block p {
		   font-size: 1em
	   }
	   
	   .about-intro {
		  
		 padding: 3em 0 3em;
	  }
	  
	  .team-section {
		 padding: 3em 0 3em;
	  }
	  
	  .partners-section {
		  padding: 3em 0 3em;
	  }
	   
	   
  }
  
  @media screen and (min-width: 48.750em) {
  
  	body:after {
	  	content: "large";
	  	display: none;
  	}
  	
  	.lightbox {
	  	display: block;
  	}
	  
	 .main-header {
		 padding: 1em;
	 }
	  
	  .main-header .menu-link {
		  display: none;
	  }
	  
	   #menu ul li.btn-reserve-menu a {
		 display: none !important;
	  }
	  
	  .logo-desktop {
		  margin: 0 3.8% 0 0;
	  }
	  
	  .js #menu {
		  max-height: none;
		  overflow: visible;
		}
	  
	  .js .sub-menu {
		  overflow: visible;
		  max-height: none;
		  position: absolute;
		  top: 1em;
		  left: -0.5em;
		  z-index: 1000;
		  -webkit-box-shadow: 0px 3px 5px 0px rgba(50,50,50,0.1);
		  -moz-box-shadow: 0px 3px 5px 0px rgba(50,50,50,0.1);
		  -o-box-shadow: 0px 3px 5px 0px rgba(50,50,50,0.1);
		  box-shadow: 0px 3px 5px 0px rgba(50,50,50,0.1);
		  
		  
	  }
	  
	  #menu > ul ul {
		  /* background: #e9eadc;*/
		  background: #e9eadc;
		  display: none;
	 }
	  
	  .js #menu > ul li:hover > ul {
		display: block;
	  }
	  
	  #menu {
		  background: none;
		  width: 55%;
		  clear: none;
		  padding-top: 1.716em;
		  float: right;
		  font-size: 0.842em;
		 
	  }
	  
	  #menu > ul {
		  margin: 0 0 0 -0.25em;
		  border: 0;
	  }
	  
	  #menu > ul > li {
		  display: inline-block;
		  margin: 0 0.55em;
		  border: 0;
		  position: relative;
	  }
	  
	  #menu > ul ul li {
		  display: block;
		  padding: 0.5em;
	  }
	  
	  #menu > ul ul li:nth-child(1) {
		  padding-top: 1em;
	  }
	  
	
	 
	  
	  #menu li a {
		  border: 0;
		  -webkit-transition: color .2s linear;
		  -moz-transition: color .2s linear;
		  -o-transition: color .2s linear;
		  -ms-transition: color .2s linear;
		  transition: color .2s linear;
		  padding: 0;
	  }
	  
	   #menu a:after {
		   display: none;
	   }
	 
	  
	  .play-btn {
		  display: inline-block;
	  }
	 	  
	  .blog-single .grid-overviews li {
		  width: 100%;
	  }
	  
	 .blog-single .latest-posts {
		 margin: 3% 0;
		 background: none;
	 }
	  
	 .team-list {
		width: 48%;
	   	float: left;
	   	margin-right: 3.8%;
	  }
	  
	  .partners-list li {
		  width: 18%;
		  border: 1px solid #ccc;
	   }
	   
	   .partners-list li:nth-child(5n) {
		   margin-right: 0;
	   }
	   
	   .partners-list li:nth-child(3n) {
		   margin-right: 2%;
	   }
	  
	  .team-list > li {
		  margin-bottom: 4em;
	  }
	  	  
	  .about-us .closed, .faq .closed {
		  display: block;
	  }
	  
	  .about-intro {
		  //background: #d9dacb;
		 border-bottom: 1px solid #ccc;
		 padding: 5em 0 5em;
	  }
	  
	  .team-section {
		 padding: 5em 0 5em;
		 background: #d9dacb;
		 border-bottom: 1px solid #ccc;
	  }
	  
	  .partners-section {
		  padding: 5em 0 5em;
	  }
	  
	  
	  .team-list li .btn-inactive, .team-list li .btn-active, .faq-wrap .btn-active, .faq-wrap .btn-inactive {
		  display: none;
	  }
	  
	   #axel-thumb img {
		  display: block;
	  }
	  
	  .grid-overviews li {
		 width: 30.75%;
	   	float: left;
	    margin-right: 3.8%;
	   	text-align: center;
	   	border: 1px solid #CCC;
	   	background-color: #ffffff;
	   	border-radius: 3px;
	   	-moz-border-radius: 3px;
	   	-webkit-border-radius: 3px;
	   	-o-border-radius: 3px;
	   	margin-bottom: 3.8%;
	   	
	  }
	  
	  .label-new {
	  	  display: block;
	  }
	  
	  .more-info a {
	     color: #ffa200;
	     display: block;
	     -webkit-transition: color .2s ease-in-out;
	     -moz-transition: color .2s ease-in-out;
	     -o-transition: color .2s ease-in-out;
	     -ms-transition: color .2s ease-in-out;
	     transition: color .2s ease-in-out;
	     clear: both;
	     margin-bottom: .625em;
	     background: none;
	     padding: 0;
     }
    
    .more-info i {
    	float: none;
	    margin-right: 0.313em;
    }
    
    .more-info a:hover {
	    color: #666666;
	    background: none;
    }
	  
	  .faq-wrap h4 {
		  display: block;
	  }
	  
	   .blog-all .tour-details hgroup, .latest-posts .tour-details hgroup {
		   padding: 1.5em 1.9em 0 1.5em;
	   }

	   
	   
	  .grid-overviews li img {
		  display: block;
	  }
	  
	  .orange-bar {
		  height: 3px;
		  width: 100%;
		  background: #ffa200;
	  }
	  
	  .more-tours .grid-overviews .tour-details {
		  text-align: center;
		  border-top: 3px solid #ffa200;
	  }
	  
	  .latest-posts .grid-overviews .tour-details {
		  text-align: left;
	  }
	  
	  .tour-details h2, .blog-single .tour-details h2 {
		  font-size: 1em;
		  line-height: 1.20;
	  }
	  
	  .tours-all .tour-details h2, .tours-single .tour-details h2 {
		  padding: 0 1.125em;
	  }
	  
	  .tours-all .more-tours {
		  margin: 0;
		  background: none;
	  } 
	  
	  
	  .more-tours .tour-details p {
		  font-size: 0.675em;
		  line-height: 1.46666667;	 
		  margin-top: 0.875em;
	  }
	  
	  .tour-details hgroup:after {
		  display: none;
	  }
	  
	  .tour-details dl dt {
		  display: none;
	  }
	  
	  .tour-details dl {
		  
		  border-top:1px solid #e8e8e8;
		  padding: 1em 0;
		  color: #d0c4ae;
		  text-align: center;
		
	  }
	  
	  .latest-posts .tour-details .post-excerpt {
			margin-right: 0;	  
	  }
	  
	  .latest-posts .tour-details .read-more {
		  display: block;
	  }
	  
	  .contacts .heading-contacts, .about-us .heading-contacts, .hero-unit {
		  text-align: center;
		  height: 15.789em;
	  }
	  
	
	  .contacts .heading-contacts {
		  background: url("../images/page-backgrounds/kontakt-bg.jpg") 50% 50% no-repeat;
		  
	  }
	  
	  .about-us .heading-contacts {
		  background: url("../images/page-backgrounds/about-bg.jpg") 50% 50% no-repeat;
		 
	  }
	  
	  .hero-unit {
		  background: url("../images/page-backgrounds/home-background-new.jpg") 50% 80% no-repeat;
	
	  }
	  
	  
	  .contacts .heading-contacts h2, .about-us .heading-contacts h2, .hero-unit h1 {
		  color: #ffffff;
		  background-color: rgba(0, 0, 0, 0.3);
		  margin-top: 2.316em;
		  font-size: 1.875em;
		  padding: 0.313em 0;
		  
		  
	  }
	  
	  .hero-unit h1 {
		  text-align: center;
	  }
	  
	  #info-desktop {
		  background: #d9dacb;
		  border-bottom: 1px solid #cccccc;
		  padding: 0;
		  width: 100%;
		  margin: 0;
		  display: block;
		  text-align: center;
		  padding: 3em 0;
	  }
	  
	  .contact-details li {
		  display: inline-block;
	  }
	  
	  #info-mobile {
		  display: none;
	  }
	  
	  .form {
		  background: none;
		  margin: 0;
	  }
	  
	  .form form label {
	    display: block; 
    }
	  
	  .form form input[type="submit"]{
		  width: 49%;
		  float: left;
		 
	  }
	  
	  form #abbrechen {
		  margin-left: 2%;
	  }
	  
	  .team-list li h4 {
	    display: block;
	    text-transform: uppercase;
	  }
	  
	  .required {
	    background-image: url("../images/asterisk-icon.png");
	    background-repeat: no-repeat;
	    background-position: right top;
    }
    
    .faq .col-half {
		  width: 48%;
		  float: left;
		  margin-right: 3.8%;
	  }
	  
	 .faq-wrap h6 {
		 padding: 0.5em;
	 }
	 
	 .page-404 h2 {
		 font-size:5.985em;
	 }
	 
	 .page-404 a {
		 font-size: 1.235em;
	 }
	 
	 figcaption {
		 font-size: 0.875em;
	 }
	 
	   
  }
  
  @media screen and (min-width: 56.25em) {
	  
	  body:after {
		  content: 'large';
		  display: none;
	  }
	  
	  .section-wrapper {
		  max-width: 1140px;		  
		  margin: 0 auto;	 
	  }
	  
	  .section-wrapper-s {
		  max-width: 960px;
		  margin: 0 auto;
	  }
	  
	  .section-wrapper-xs {
		  width: 680px;
		  margin: 0 auto;
	  }
	  
	  .facts-wrap ul li {
	      font-size: 0.875em;
	  	  line-height: 1.69047619;
	  	  margin-bottom: 0.413em;
	  }
	  
	  .excerpt-info .subhead {
		  margin: 3em 0 1em 0;
	  }
	  
	  .excerpt-info h2 {
		  font-size: 1.2em;
	  }
	  
	  .excerpt-info dl {
		  font-size: 0.675em;
	  }
	  
	  .excerpt-info-btn {
		  margin-top: 2em;
	  }
	  
	  .excerpt-info .quick-info {
		  font-size: 0.775em;	  
	  }
	  
	  .excerpt-info dl dd.location {
	   	   margin-right: 0.875em;
	  }
	  
	 #menu {
		  background: none;
		  width: 50%;
		  clear: none;
		  padding-top: 1.316em;
		  float: left;
		  margin-left: 4%;
	 }
	 
	
	  
	  .play-btn {
		  font-size: 1.125em;
	  }
	  
	  .play-btn .icon-play-circle {
		  padding-top: 0.35em;
		  margin-top: 0.2em;
	  }
	  
	  .col-three-fourth {
		  width: 74.05%;
	  }
	  
	  .one-fourth {
		  width: 22.05%;
	  }

	  .btn-reserve-wrapper {
		  display: block;
	  }
	  
	 
	  
	 .carousel-wrap nav a {
		 font-size: 2em;
	 }
	  
	  .heading-contacts h2 {
		  font-size: 1.875em;
	  }
	  
	  .heading-contacts p {
		  text-transform: uppercase;
		  
	  }
	  
	  .footer-desktop ul.footer-left-col {
	      float: left;
	      margin-right: 2.250em;
	   }
	  
	  
	  hr {
		  margin: 2em 0;
	  }
	  
	  .tours-single-controls a {
		  font-size: 1.125em;
	  }
	  
	  p.orange {
		  font-size: 1.158em;
		  line-height: 1.4;
	  }
	  
	  
	  
	  .newsletter input {
	  	  /*width: 60%;*/
	      /*width: 50%; */
	      width: 50%;
	      /*font-size: 0.842em; */
	      margin-bottom: 0;
	      margin-bottom: 0.875em;
	      float: left;
	  }	
   
      .newsletter .subscribe {
	      display: inline-block;
	      width: 40%; 
	   
	      margin-left: 0.313em;
      }
      
      .contacts .heading-contacts h2, .about-us .heading-contacts h2 {  
      		font-size:2.632em;
      		margin-top: 1.416em
      		
      }
      
      .hero-unit h1 {
	      font-size: 2.432em;
	      margin-top: 1.416em
      }
      
      .col-half-inners {
	      width: 22.05%;;
      }
      
      
	  .team-list li header:before {
		 	margin-right: 40px;
		 	display: block;
	  }
  
	  #norbert-martini header:before {
			content: url("http://www.atracktive.com/wp-content/uploads/2014/05/norbert-square.png");
	  }
		
	  #massimo-casorzo header:before {
			content: url("http://www.atracktive.com/wp-content/uploads/2014/05/massimo-square.png");
	   }
		
	  #axel-molinero header:before {
			content: url("http://www.atracktive.com/wp-content/uploads/2014/05/axel-square.png");
	   }
		
	  #roberta-ribotta header:before {
		content: url("http://www.atracktive.com/wp-content/uploads/2014/05/roberta-square.png");
	  }
		
	  #florian-mair header:before {
		content: url("http://www.atracktive.com/wp-content/uploads/2014/05/florian-square.png");
	  }
  }
  
  @media screen and (min-width:62.688em) {
	  
	   #menu {
	  	  margin-left: 4%;
  	  }
  	  
  	  .excerpt-info .quick-info {
	  	  
  	  }
  	  
  }
  
  @media screen and (min-width: 71.875em) {
  
     .tours-single .grid-overviews li, .tours-all .grid-overviews li, .homepage .grid-overviews li {
	     min-height: 20.6em;
     }
  	  
  	  #menu {
	  	  font-size: 1em;
	  	  margin-left: 6%;
  	  }
  	  
  	  .header-btn-reserve {
	  	font-size: 1em;
	  	padding: 0.8em 2.125em;
	  }	 
	  
  	 
  	  
	  p.orange {
		  font-size: 1.368em;
		  line-height: 1.4;
	  }
	  
	  p.info-body {
		  font-size: 1.118em;
		  
	  }
	  
	  .tours-text .prog-details {
		  font-size: 1em;
	  }
	  
	  .facts header, #included-not header, #optionals header {
		  font-size: 1.5em;
	  }
	  .tours-section h2, .faq-wrap h2 {
		  font-size: 2em;
	  } 
	  
	  .tour-details h2, .blog-single .tour-details h2  {
		  font-size: 1.2em;
	  }
	  
	  
	  .more-tours .tour-details p {
		 line-height: 1.46666667;
		 text-transform: uppercase;	  
	  }
	  
	  .tour-details dl {
		  font-size: 0.8em;
		   
	  }
	  
	  .tours-single .tour-details dl, .tours-all .tour-details dl, .homepage .tour-details dl {
		  width: 100%;
		   position: absolute;
		   bottom: 0;
	  }
	  .tour-details dl dt {
		  display: inline-block;
	  }
	  
	  .section-title-wrapper h2 {
		  font-size: 2em;
	  }
	  
	  .team-list li h4 {
		  font-size: 1.4em;
	  }
	  
	  .footer-desktop h6 {
		  font-size: 0.875em;
	  }
	  
	  .footer-desktop li, .newsletter p, .newsletter .subscribe, .newsletter input {
		  font-size: 0.842em;
	  }
	  
	  .newsletter input {
		  width: 60%;
	  }
	  
	  .newsletter .subscribe {
		  width: 32%;
	  }
	  
	  .section-title-wrapper p {
		  line-height: 1.3;
	  }
	  
	  .section-title-wrapper p, .cta-button a {
		  font-size: 1.125em;
	  }
	  
	  .footer-inner {
		  margin: 0;
	  }
	  
	  .contacts .heading-contacts, .about-us .heading-contacts, .hero-unit {
		  height: 21.053em;
	  }
	  
	  .contacts .heading-contacts h2, .about-us .heading-contacts h2, .hero-unit h1 {
		  margin-top: 2.316em;
	  }
	  
	  .facts header .wrap-details {
		  left: 11%;
	  }
	  
	  .tours-single .col-three-fourth {
		  width: 56.75%;
		  
	  }
	  
	  .tours-single .one-fourth {
		  width: 39.45%;
	  }
	  
	  .small-heading {
		  font-size: 1.2em;
	  }
	  
	  .impressum ul li {
		  font-size: 0.842em;
	  }
	  
	  .excerpt-info .subhead {
		  text-transform: uppercase;
	  }
	  
	  .excerpt-info h2 {
		  font-size: 1.4em;
	  }
	  
	  .excerpt-info dl {
		  font-size: 0.775em;
	  }
	  
	  .excerpt-info-btn {
		  margin-top: 2em;
	  }
	  
	  .excerpt-info .quick-info {
		  font-size: 0.875em;	  
	  }
  }
  
  
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
	  
	  
	  
	  .header-logo {
		  background: url("../images/@2x/logo-atracktive-@2x.png") no-repeat;
		  background-size: 8.188em 2.625em;
	  }
	  
	  .required {
	    background-image: url("../images/@2x/asterisk-icon-@2x.png");
	    background-repeat: no-repeat;
	    background-position: right top;
	    background-size: 1.875em 2.188em;
    }
	  
  }
  
